[package]
name = "client"
version = "0.1.0"
authors = ["Benjamin Saunders <ben.e.saunders@gmail.com>"]
edition = "2018"
publish = false
license = "Apache-2.0 OR Zlib"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
common = { path = "../common" }
server = { path = "../server" }
tracing = "0.1.10"
tracing-subscriber = "0.2"
ash = "0.29"
lahar = { git = "https://github.com/Ralith/lahar", rev = "b70cecccd000c4cdf3d654b65fa339c59a6fb416" }
winit = "0.22"
ash-window = "0.1.0"
directories = "2.0.2"
vk-shader-macros = "0.2.2"
na = { package = "nalgebra", version = "0.19" }
tokio = { version = "0.2", features = ["rt-threaded", "sync", "macros"] }
png = "0.15.2"
anyhow = "1.0.26"
whoami = "0.7.0"
serde = { version = "1.0.104", features = ["derive", "rc"] }
toml = "0.5.5"
fxhash = "0.2.1"
downcast-rs = "1.1.1"
quinn = { git = "https://github.com/djc/quinn", rev = "6f1d361dbf0c5d7818a26d9a3db29144f56030c4" }
futures-util = "0.3.1"
rustls = { version = "0.17.0", features = ["dangerous_configuration"] }
webpki = "0.21.0"
hecs = "0.2.9"
rcgen = { version = "0.7.0", default-features = false }
approx = "0.3.2"
